<h1>Chat</h1>

<ng-container *ngIf="user$ | async; let user">

  <h2>Hello {{ user.username }}</h2>

  <div class="row">
    <div class="cell-2 border-solid bd-red border-1">
      <h3>Users</h3>
      <app-users [exceptId]="userId$ | async" (userSelected)="chatPartner$.next($event)"></app-users>

      <div class="row">
        <div class="cell-12">
          <button m4-button (click)="chatPartner$.next({ username: 'Group', id: null })" btn-style="success">Group chat</button>
        </div>
      </div>
    </div>

    <div class="cell-10 border-solid bd-red border-1" *ngIf="chatPartner$ | async; let chatPartner">
      <h3>Chat with {{ chatPartner.username }}</h3>

      <blockquote *ngFor="let message of messages$ | async" [class.right-side]="message.ownerId === user.id">
        <p>{{ message.content }}</p>
        <small>{{ message.createdOn | date:'HH:mm' }} by {{ (message.ownerId | user | async)?.username }}</small>
      </blockquote>

      <m4-input placeholder="New message"
                [(ngModel)]="newMessage"
                [search-button]="true"
                search-button-icon="<span class='mif-paper-plane'></span>"
                (search-button-click)="sendMessage(user, chatPartner)"
                (keydown.enter)="sendMessage(user, chatPartner)"></m4-input>
    </div>
  </div>

</ng-container>
